*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin: 10px 0;
}
/* calculator main container css */
.main-cal{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 0;
}
.main-cal:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

/* calculator result bar CSS */
#result{
    width: 335px;
    height: 70px;
    text-align: right;
    font-size: 35px;
    font-weight: bold;
    padding: 0 5px;
    letter-spacing: 2px;
}

/* calculator Body btn CSS */
.btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 15px;
    background-color: #2f3640;
    color: #fff;

}
.btn-style{
    background-color: #be2edd;
}
/* Button hover style css */
.btn:hover{
    background-color: #badc58;
    transition: .5s;
}